* {
    padding: 0;
    margin: 0;
}

h1 {
    background-color: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    height: 12vmin;
    box-shadow: 0 0 15px rgb(35, 34, 34);
}

.container {
    height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 5vmin;
    background-color: black;
    display: grid;
    gap: 8vmin;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.getURL, .share  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    width: 70vmin;
}

.name,
.submit {
    padding: 1vmin;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff;
    color: black;
}

.QR_image {
    text-align: center;
    height: 30vh;
}

.copyButton {
    font-size: 2.5vmin;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 15px;
    height: 5vmin;
    width: 20vmin;
}

.share {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    padding: 1vmin;
    width: 80vmin;
    height: 5vmin;
    overflow-x: scroll;
}

.hide {
    display: none;
}



@media(max-width:675px) {
    h1 {
        font-weight: 700;
        height: 35px;
        font-size: 22px;
    }

    .container {
        width: 97%;
        justify-content: stretch;
        margin: 3px;
    }

    .box {
        border-radius: 5px;
        display: grid;
        height: auto;
        column-gap: 20px;
    }

    .getURL {
        display: flex;
        align-items: center;
        margin: auto;
        height: 7px;
        width: 100%;
    }


    .name {
        /* height: 10px;
        width: 1000%; */
        border-radius: 5px;
    }

    .submit {
        /* height: 17px;
        width: 40%; */
        border-radius: 5px;
    }

    
.name,
.submit{
    font-size: 12px;
}


    #img {
        position: relative;
        top: 12%;
        height: fit-content;
    }

    .share, .copyButton  {
        border-radius: 5px;
        height: 20px;
    }
}
